/* Styles pour les informations sur la franchise */
#franchise_info {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 30%; /* Réduire la largeur */
    display: flex;
    flex-direction: column; /* Afficher les cartes en une seule colonne */
    align-items: center;
}

#franchise_info h2 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #2c3e50;
    text-align: center;
}

.info-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px;
    width: 100%; /* Prendre toute la largeur disponible */
    display: flex;
    align-items: center;
}

.info-card i {
    font-size: 2em;
    color: #3498db;
    margin-right: 10px;
}

.info-card div {
    font-size: 1.1em;
    color: #333;
}

.image-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.image-container img {
    max-width: 200px;
    height: auto;
}