main {
    background-color: #e4f0f5 !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: start !important;
    text-align: center !important;
    font: black !important;
}

thead, tfoot {
    background-color: #2c5e77 !important;
    color: #fff !important;
}

tbody {
    background-color: #ffffff !important;
    color: black !important;
}

table {
    justify-content: center !important;
    align-items: center !important;
    justify-items: center !important;
    border-collapse: collapse !important;
    font-family: sans-serif !important;
    font-size: 0.8rem !important;
    letter-spacing: 1px !important;
}

caption {
    caption-side: bottom !important;
    padding: 10px !important;
}

th, td {
    border: 1px solid rgb(0, 0, 0) !important;
    padding: 8px 10px !important;
}

td {
    text-align: center !important;
}

/* Fieldset */
p, label {
    font: 1rem 'Fira Sans', sans-serif !important;
}

input {
    margin: 0.4rem !important;
}

.container {
    display: flex !important;
    width: 100% !important;
    gap: 10px !important;
}

.scrollable-container {
    max-height: 100% !important; /* Ajustez la hauteur selon vos besoins */
    overflow-y: auto !important;
    border: 1px solid #ccc !important;
    max-width: fit-content !important;
    flex-shrink: 0 !important; /* Empêche la réduction de la largeur de la colonne des franchises */
}

.scrollable-table {
    max-height: 400px !important; /* Ajustez la hauteur selon vos besoins */
    overflow-y: auto !important;
    flex-grow: 1 !important; /* Permet à la table de résultats de prendre toute la place disponible restante */
}

.scrollable-table table {
    width: 100% !important;
    border-collapse: collapse !important;
}

.scrollable-table th, .scrollable-table td {
    border: 1px solid #000000 !important;
    padding: 10px !important;
    cursor: pointer !important; /* Ajoutez un curseur pointeur pour indiquer que les têtes de colonnes sont cliquables */
}

.scrollable-table th {
    user-select: none !important; /* Désactiver la sélection de texte */
}

.sort-icon {
    margin-left: 5px !important;
    color: #ccc !important; /* Couleur par défaut des icônes */
}

.sorted-asc .fa-sort-up, .sorted-desc .fa-sort-down {
    color: #ff0000 !important; /* Couleur des icônes triées */
}

.franchise-column {
    color: black !important; /* Couleur du texte en noir pour la colonne des franchises */
    user-select: none !important; /* Désactiver la sélection de texte */
    cursor: pointer !important; /* Ajoutez un curseur pointeur pour indiquer que la colonne est cliquable */
}

label {
    display: inline-block !important;
    padding: 10px 20px !important;
    margin: 5px !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: white !important;
    background-color: #007bff !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    user-select: none !important;
    text-align: center !important;
}

label input[type="checkbox"] {
    display: none !important;
}

label:hover, input[type="checkbox"]:checked + label {
    background-color: #0056b3 !important;
}
