body {
    font-family: Arial, sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
}

.main-container {
    display: flex !important;
    height: 100vh !important; /* S'assure que le conteneur prend toute la hauteur de la fenêtre */
    /* background-image: url('../images/imageabstraitmain.png') !important; */
    /* background-size: contain !important; */
}

.sidebar {
    max-width: 200px !important;
    min-width: 200px;
    background-color: rgba(128, 128, 128, 0.5) !important; /* Gris avec opacité moyenne */
    padding: 15px !important;
    color: rgb(0, 0, 0) !important; /* Texte de couleur noir */
    overflow-y: auto !important; /* Ajoute une barre de défilement si le contenu dépasse la hauteur de la fenêtre */
    /* background-image: url('../images/im') !important; */
}

li {
    padding: 10px;
    list-style-type: none !important;
}

.app-name {
    font-size: 24px !important;
    font-weight: bold !important;
    margin-bottom: 20px !important;
    text-align: center !important;
}

.sidebar nav ul {
    list-style-type: none !important;
    padding: 0 !important;
}

.sidebar nav ul li {
    margin-bottom: 10px !important;
}

.sidebar nav ul li ul {
    display: none !important;
    list-style-type: none !important;
    padding-left: 20px !important;
}

.sidebar nav ul li:hover ul {
    display: block !important;
}

.content {
    flex-grow: 1 !important;
    padding: 20px !important;
    overflow-y: auto !important; /* Ajoute une barre de défilement si le contenu dépasse la hauteur de la fenêtre */
    background-color: rgba(0, 0, 0, 0.438);
}

.submenu {
    max-height: 0;
    overflow: hidden;
    text-align: left;
}

.sidebar li:hover .submenu {
    max-height: 500px; /* Ajustez cette valeur en fonction de la hauteur de votre contenu */
}

.dropdown-icon {
    transition: transform 0.3s; /* Augmentez la durée de la transition */
}

.sidebar li:hover .dropdown-icon {
    transform: rotate(180deg);
}

li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s; /* Augmentez la durée de la transition */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(24, 5, 5);
}