<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Titre{% endblock %}</title>
    {% block stylesheet %}
    {% endblock %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="app-name">Seahawk Nester</div>
                <ul>
                    <li><a href="dashboard">Dashboard</a><li>
                    <li><a href="{{ url_for('logout') }}">Se déconnecter</a></li>
                    <li><a href="dashboard">Profil</a></li>
                    <li><a href="liste_sondes">Harvesters</a></li>
                    <li><a href="rapport_scan">Rapports de scans</a></li>
                    <li><a href="dashboard">Modalitées PEM</a></li>
                    <li><a href="dashboard">Remote Access</a></li>
                    <li><a href="dashboard">Paramètres</a></li>
                    <li><a href="gestion_acces">Gestion des accès</a></li>
                    <li><a href="dashboard">Support</a></li>
                    <li><a href="dashboard">À propos</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>