<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Titre{% endblock %}</title>
    {% block stylesheet %}
    {% endblock %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{{ url_for('static', filename='js/base.js') }}" ></script>
</head>
<body>
    <div class="main-container">
        <div class="sidebar">
            <div class="app-name">Seahawk Nester</div>
            <ul>
                <li><a href="dashboard">Dashboard</a></li>
                <li>
                    <a href="#" id="harvesters-toggle">Seahawk Harvesters <i class="fas fa-chevron-down dropdown-icon"></i></a>
                    <ul class="submenu" id="harvesters-menu">
                        <li><a href="sondes">Sondes</a></li>
                        <li><a href="scan_report">Rapports de scans</a></li>
                    </ul>
                </li>
                <br>
                <li>
                    <a href="#" id="admin-tools-toggle">Outils d'administration <i class="fas fa-chevron-down dropdown-icon"></i></a>
                    <ul class="submenu" id="admin-tools-menu">
                    </ul>
                </li>
            </ul>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>