{% extends 'base.html' %}


<!-- Block CSS dédié à franchise.html -->
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/franchise.css') }}">
{% endblock %}

{% block content %}
    <h1>Franchise : {{ franchise_name }}</h1>
    <div id="affichage">
        <div id="liste_harvesters">
            <p>Franchise content goes here.</p>
            <table>
                <h1>Harvester</h1>
                <thead>
                    <tr>
                        <th scope="col">Hostname</th>
                        <th scope="col">Adresse IP</th>
                        <th scope="col">État</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                        {% for key, value in harvester.items() %}
                        <tr>
                            <td>{{ value.key['Hostname'] }}</td>
                            <td>{{ value.key['ip'] }}</td>
                            <td>{{ value.key['Etat'] }}</td>
                            <td>
                                <input type="submit" value="Détails" >
                            </td>
                        </tr>
                        {%endfor%}
                </tbody>    
            </table>
        </div>
    
        <div>
            <div id="Dashboard">

            </div>
            <div id="Rapports de scan">
                
                <thead>
                    <tr>
                        <th scope="col">Hostname</th>
                        <th scope="col">Adresse IP</th>
                        <th scope="col">État</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                        {% for key, value in scan_report.items() %}
                        <tr>
                            <td>{{ value.key['Harvester_id'] }}</td>
                            <td>{{ value.key['scan_report'] }}</td>
                            <td>{{ value.key['scan_date'] }}</td>
                        </tr>
                        {%endfor%}
                </tbody>
            </div>
        </div>    
    </div>
{% endblock %}