{% extends 'base.html' %}

{% block content %}
    <h1>Rapports de Scan pour Harvester ID : {{ harvester_id }}</h1>
    <div id="scan_report">
        <table>
            <thead>
                <tr>
                    <th scope="col">Franchise</th>
                    <th scope="col">Harvester ID</th>
                    <th scope="col">RAPPORT DE SCAN</th>
                    <th scope="col">DATE</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in scan_report.items() %}
                <tr>
                    <td>{{ value['franchise'] }}</td>
                    <td>{{ value['Harvester_ID'] }}</td>
                    <td>
                        <ul>
                            {% for entry in value['entries'] %}
                            <li>{{ entry }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ value['Scan_Date'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}