{% extends 'base.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/liste_sondes.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}
{% block content %}

<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/liste_sondes.js') }}"></script>

<div class="container">
    <div class="scrollable-container">
        <!-- Checkboxes pour les franchises -->
        {% for franchise in franchises %}
        <input type="checkbox" id="franchise-{{ loop.index }}" value="{{ franchise }}" style="opacity:0; position:absolute;">
        <label for="franchise-{{ loop.index }}">{{ franchise }}</label><br>
        {% endfor %}
    </div>

    <div class="scrollable-table">
        <table>
            <thead>
                <tr>
                    <th>Franchise <i class="fas fa-sort sort-icon"></i></th>
                    <th>ID <i class="fas fa-sort sort-icon"></i></th>
                    <th>State <i class="fas fa-sort sort-icon"></i></th>
                    <th>Adresse IP <i class="fas fa-sort sort-icon"></i></th>
                    <th>Nom d'hôte <i class="fas fa-sort sort-icon"></i></th>
                    <th>Sous réseau <i class="fas fa-sort sort-icon"></i></th>
                    <th>Masque Réseau <i class="fas fa-sort sort-icon"></i></th>
                    <th>Système d'exploitation <i class="fas fa-sort sort-icon"></i></th>
                    <th>Port <i class="fas fa-sort sort-icon"></i></th>
                    <th>Version d'application <i class="fas fa-sort sort-icon"></i></th>
                </tr>
            </thead>  
            <tbody>
                {% for group in harvesters %}
                    {% for row in group.data %}
                    <tr>
                        <td class="franchise-column">{{ group.franchise }}</td> <!-- Ajouter le nom de la franchise -->
                        {% for cell in row %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}