{% extends 'base.html' %}


{% block content %}
<h2>Rapport de Scan</h2>
<p>Voici les rapports de scan pour chaque franchise.</p>

<table>
    <thead>
        <tr>
            <th>Franchise</th>
            <th>Scan ID</th>
            <th>Harvester ID</th>
            <th>IP</th>
            <th>Nom d'Hôte</th>
            <th>Ports Ouverts</th>
            <th>Date de Scan</th>
        </tr>
    </thead>
    <tbody>
        {% for report in scan_reports %}
            <tr>
                <td>{{ report.franchise }}</td>
                <td>{{ report.Scan_ID }}</td>
                <td>{{ report.Harvester_ID }}</td>
                <td>{{ report.ip }}</td>
                <td>{{ report.nom_hote }}</td>
                <td>{{ report.ports_ouverts|join(', ') }}</td>
                <td>{{ report.Scan_Date }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
